@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: 'Fjalla One', sans-serif; 
}


body {
  background: #f6f6f6;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: #000;
  color: #fff;
  z-index: 1;
}

.header input, label {
  display: none;
}

.titulo {
  font-size: 2rem;
}

.lauta-titulo-color {
  color: #FCA311;
}

.navbar {
  font-size: 1rem;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #fff;
}

.nav-link::before {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 5px;
  background: #FCA311;
  transition: ease-out 0.4s;
}

.nav-link:hover::before {
  width: 100%;
}

.active {
  text-decoration: underline #FCA311 5px;
}

.imagen-background {
  background: url(/img/hombre-con-guitarra.jpg)no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 80vh;
}

.bienvenidos {
  width: 100%;
  position: relative;
  top: -90px;
  display: flex;
  justify-content: center;
}

.bienvenidos-grupo {
  line-height: 1.8;
  width: 50%;
  padding: 40px;
  font-size: 1.5rem;
}

.grupo-color-1 {
  background: #000;
  color: #fff;
}

.grupo-color-1 p::before {
  position: relative;
  right: 5px;
  content: "";
  padding: 0px 5px;
  background: #FCA311;
}

.grupo-color-1 h1 {
  font-size: 4.5rem;
}

.grupo-color-2 {
  background: #FCA311;
}

.grupo-color-2 p {
  padding-bottom: 40px;
}

.btn-clases, .btn-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  width: 200px;
  height: 80px;
} 

.bienvenidos-grupo-btn {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.container {
  width: min(90%, 1300px);
  margin-inline: auto;
  border: 3px solid hotpink;
}

.programa-niveles {
  width: 50%;
  padding: 1rem;
 }

.programa-niveles > p {
  padding: 0px 0px 30px 0px;
  font-size: 1.5rem;
}

.programa-niveles > p::before {
  position: relative;
  right: 5px;
  content: "";
  padding: 0px 5px;
  background: #FCA311; 
}

.programa-niveles h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.horarios {
  display: flex;
  padding-top: 60px;
  font-size: 1.2rem;
  color: #999999;
  gap: 50px;
}

.img-div {
  width: 20%;
}

.img {
  width: 100%;
}

.text-div {
  width: 60%; 
}

.presentacion {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0px 0px 0px;
}

.presentacion p {
  font-size: 1.2rem;
}

.presentacion h3 {
  font-size: 1.5rem;
}

.parrafo {
  line-height: 2;
}

.titulo-biografia {
  padding: 25px 0px;
}

.bio-boton a {
  padding: 15px;
  background: red;
  color: #fff;
}

/* ---PAGINA DE REGISTRO--- */
.registerContainer {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(img/pexels-sebastian-ervi-1763075.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.registerSection{
  text-align: center;
  width: 40%;
  height: 900px;
  background-color: #ffbb00;
  border-radius: 10px;
   color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.registerSection h2{
  font-size: 40px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 20px;
}
.form input{
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
}
.form input:focus{
  border: 1px solid #000;
}
.form select{
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
}
.registerSection button{
  background : rgb(0, 0, 0); 
  color : rgb(255, 255, 255); 
  font-size : 24px; 
  width : 200px; 
  height : 80px; 
  outline: none;
  border: none;
position: relative;
}

.registerSection button:hover{
  background-color: red;
  transition: 0.3s;
}
.registerSection button:active{
  top: 5px;
}
.registerSection a{
  color: #000;
}
.registerSection a:hover{
  transition: 0.3s;
  color: red;
}
@media screen and (max-width:800px) {
  .registerSection{
    width: 70%;
    height: 950px;
   }
}
@media screen and (max-width:400px) {
  .registerSection{
    width: 90%;

   }
}
/* ---FIN ESTILO PAGINA DE REGISTRO--- */
